#cabecera{
    width: 100vw;
    height: 300px;
    background-color: rgb(19, 0, 87);
    animation: cambiarColor 4s ease-in-out ;
    animation: discoteca 5s ease infinite ;
}

h1{
    font-size: 4rem;
    margin: 0px;
    /* animation: colortexto 4s ease-in-out infinite; */
    animation: mover 5s ease infinite;
    
}

#cuerpo{
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    margin: 1rem;
    overflow: hidden;
    transition: width 1s ,heigth 4s;
}
#cuerpo:hover{
    width: 600px;
    height: 200px;
}


/* -----------animaciones----------- */

@keyframes cambiarColor{
    from{
        background-color: aquamarine;

    }
    to{
        background-color:pink;
    }
}

@keyframes discoteca{
    0%{
        background-color: red;
    }
    20%{
        background-color: yellow;
    }
    40%{
        background-color: green;
    }
    60%{
        background-color: blue;
    }
    80%{
        background-color:blueviolet;
    }
    100%{
        background-color: deeppink;
    }
}

@keyframes colortexto {
    from{
        color: red;
    }
    to{
        color: yellow;
    }
    /* to{
        color: green;
    }
    to{
        color: blue;
    }
    to{
        color:blueviolet;
    }
    to{
        color: deeppink;
    } */
}

@keyframes mover{
    0%{
        transform: translatey(0px) translateX(0px);
    }
    20%{
        transform: translateX(35%) translatey(110px);
    }
    40%{
        transform: translateX(67.5%) translateY(0px) ;
    }
    60%{
        transform: translateX(67.5%) translatey(230px);
    }
    80%{
        transform: translateX(35%) translatey(110px);
    }
}
