header ul{
    background-color:violet;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
header ul li{
    float: left;
}

header ul li a{
    color: white;
    text-decoration-line: none;
    display: block;
    padding: 12px;
}

header ul li a:hover{
    background-color: purple;
}

/* estilo contenedor */
#contenedor {
    background-color: cyan;
    width: 35%;
}



@media only screen and (max-width: 650px){
    #contenedor {
        width: 100%;
    }
}
    


