

/* #img1 {
    position: absolute;
    top: 20px;
    left: 20px;
}

#img2 {
    position: absolute;
    top: 20px;
    right: 20px;
}
#img3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
} */

#img4 {
    position: absolute;
    top: 38%;
    left: 38%;
}

#img4 {
    border-color: solid green;
    animation: flotar1 4s ease-in-out infinite;


}

@keyframes flotar1{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

#goku {
    position: absolute;
    top: 38%;
    left: 30px;
    width: 240px;
    height: 320px;
    animation: flotar2 4s ease-in-out infinite;
    object-fit: contain;
    
}

@keyframes flotar2{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}



